<h6>
	{{burger_name}}
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

	<button class="change-availability btn btn-primary" data-id="{{id}}" data-burgerstatus="{{available}}">
		{{#if available}}Devour it{{else}}Grill another{{/if}}
	</button>
</h6>
