<h6>
	{{burger_name}}
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

	<button class="change-availability btn btn-primary" data-id="{{id}}" data-burgerStatus="{{devoured}}">
		{{#if devoured}}Grill another{{else}}Devour it{{/if}}
	</button>
</h6>
